APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/PHPBasePlate
APP_TIMEZONE=Australia/Sydney

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=phpbaseplate
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
LOG_CHANNEL=file
